In [66]:
#read_csv() : 데이터 파일 불러오기 -> 데이터프레임

In [67]:
import pandas as pd
csv_test = pd.read_csv("test_csv_file.csv") # 코드 파일과 같은 위치에 있을때는 경로를 안쓰고 파일 이름을 써주면 됨
csv_test # 맨 왼쪽 진한 숫자들은 행 인덱스 번호

   ID LAST_NAME  AGE
0   1       KIM   30
1   2      CHOI   25
2   3       LEE   41
3   4      PARK   19
4   5       LIM   36

In [68]:
txt_text = pd.read_csv("test_text_file.txt", sep="|", index_col="ID") # 인덱스 번호를 0부터 시작. 인덱스의 이름으로 써도됨
txt_text #맨 왼쪽진한 숫자는 행 인덱스(데이터를 구분하기 위한 구분자 역할), 위쪽 진한 글자는 열 인덱스

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [69]:
text = pd.read_csv("text_without_column_name.txt", sep="|",header = None, names=['ID','A','B','C','D']) # header 가 없다고 지정
text

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [70]:
# 타이타닉 데이터를 읽어보세요.

In [71]:
type(text) # 데이터프레임(클래스)
# class : 건물설계도, object(객체) : 건물 
text.info() # 탐색적 분석 방법에서 항상 확인. 데이터의 정보를 확인할 수 있음
# pandas는 캐릭터가 없음. object : string(문자), int64 : integer(정수)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
ID    3 non-null object
A     3 non-null int64
B     3 non-null int64
C     3 non-null int64
D     3 non-null int64
dtypes: int64(4), object(1)
memory usage: 200.0+ bytes

In [72]:
data={'ID':['A1','A2','A3'],
     'X1' : [10,20,30],
     'X2' : [1.1, 2.2, 3.3]}
data

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 2.2, 3.3]}

In [73]:
df = pd.DataFrame(data, index=['a1','a2','a3'])
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  2.2
a3  A3  30  3.3

In [74]:
# 데이터프레임에 행 추가(인덱스)
df2=df.reindex(['a1','a2','a3','a4'])
df2 # pandas:NaN(결측값), deep:NaN(inf -> 발산)

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  2.2
a3   A3  30.0  3.3
a4  NaN   NaN  NaN

결측값 발생 이유:
   - 정말 데이터가 없는 경우 
   - 입력자가 실수로 데이터를 누락한 경우
   - 임의로 데이터를 결측값으로 처리하는 경우

In [75]:
df2.to_csv("df2.csv",sep=".",na_rep="NaN") # na_rep:NaN 자리에 쓸 텍스트를 입력할 수 있음

PermissionError: [Errno 13] Permission denied: 'df2.csv'

In [76]:
import numpy as np
df1=pd.DataFrame(np.arange(12).reshape(3,4),
                index=['r0','r1','r2'],
                columns=['c0','c1','c2','c3'])
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [77]:
df1.T

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [78]:
df1.axes

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [79]:
df1.dtypes

c0    int32
c1    int32
c2    int32
c3    int32
dtype: object

In [80]:
df1.shape
df1.size
df1.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [81]:
df2=pd.DataFrame({'c1':['a','a','b','b','c'],
                 'v1':np.arange(5),
                 'v2':np.random.randn(5) # 정규분포(randn) 난수 발생
                 }, 
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0 -0.568823
r1  a   1 -0.304795
r2  b   2 -0.317191
r3  b   3  0.808981
r4  c   4  0.958105

In [82]:
df2.ix[2:]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2 -0.317191
r3  b   3  0.808981
r4  c   4  0.958105

In [83]:
df2.ix[2]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2   -0.317191
Name: r2, dtype: object

In [84]:
df2.ix['r2']
# ix 사용시 행 인덱스 이름, 행 인덱스 번호 모두 사용가능

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2   -0.317191
Name: r2, dtype: object

In [87]:
# EDA
df2.head() # 데이터 행 6개 출력
df2.head(3)
df2.tail(3) # 맨 아래쪽 행 3개 출력

   c1  v1        v2
r2  b   2 -0.317191
r3  b   3  0.808981
r4  c   4  0.958105

In [89]:
df2.columns

Index(['c1', 'v1', 'v2'], dtype='object')

In [99]:
df2['v1'] # 열 이름으로 추출
df2[['v1']]

    v1
r0   0
r1   1
r2   2
r3   3
r4   4

In [94]:
type(df2['v1']) # series
type(df2[['v1']]) # dataframe

pandas.core.frame.DataFrame

In [95]:
df2[['v1','v2']]

    v1        v2
r0   0 -0.568823
r1   1 -0.304795
r2   2 -0.317191
r3   3  0.808981
r4   4  0.958105

In [111]:
df2=pd.DataFrame({'c1':['a','a','b','b','c'],
                 'v1':np.arange(5),
                 'v2':np.random.randn(5) # 정규분포(randn) 난수 발생
                 }, 
                index=['r0','r1','r2','r3','r4']
                )
df2

   c1  v1        v2
r0  a   0 -2.115947
r1  a   1 -1.930104
r2  b   2 -1.402170
r3  b   3  0.437984
r4  c   4 -0.887297

In [102]:
newindex=['r0','r1','r2','r5','r6']
df2.reindex(newindex) # 인덱스를 재지정해주니 값이 NaN으로 출력

     c1   v1        v2
r0    a  0.0  0.333264
r1    a  1.0 -0.982903
r2    b  2.0  0.632784
r5  NaN  NaN       NaN
r6  NaN  NaN       NaN

In [112]:
df2=df2.reindex(newindex,fill_value='NA')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r6
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null object
v2    5 non-null object
dtypes: object(3)
memory usage: 160.0+ bytes

In [113]:
df2

    c1  v1       v2
r0   a   0 -2.11595
r1   a   1  -1.9301
r2   b   2 -1.40217
r5  NA  NA       NA
r6  NA  NA       NA

In [116]:
dindex=pd.date_range('07/02/2019',periods=5, freq='D' ) # 월/일/년

In [125]:
df2=pd.DataFrame({'c1':[1,2,3,4,5]}, index = dindex)
df2

            c1
2019-07-02   1
2019-07-03   2
2019-07-04   3
2019-07-05   4
2019-07-06   5

In [126]:
dindex2=pd.date_range('06/30/2019',periods=10, freq='D')
dindex2

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09'],
              dtype='datetime64[ns]', freq='D')

In [128]:
#df2.reindex(dindex2)
# df2.reindex(dindex2,method='ffill') 
# NaN이 발생하면 이전의 데이터를 참고하여 forward 방향으로 채워라
df2.reindex(dindex2,method='bfill')

             c1
2019-06-30  1.0
2019-07-01  1.0
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  NaN
2019-07-08  NaN
2019-07-09  NaN