In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={"axes.facecolor":"white", "axes.edgecolor":"black"})
import re

In [242]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [243]:
train_test_data=[train,test] # train, test를 합친 리스트 출력
train_test_data
for data in train_test_data:
    print(data['Name'])

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0                                       Kelly, Mr. James
1                       Wilkes, Mrs. James (Ellen Needs)
2                              Myles, Mr. Thomas Francis
3                                       Wirz, Mr. Albert
4           Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5                             Svensson, Mr. Johan Cervin
6                                   Connolly, Miss. Kate
7                           Caldwell, Mr. Albert Francis
8              Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9                                Davies, Mr. John Samuel
10                                      Ilieff, Mr. Ylio
11                            Jones, Mr. Charles Cresson
12         Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13                                  Howard, Mr. Benjamin
14     Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15         del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16                                     Keane, Mr. Daniel
17                                     Assaf, Mr. Gerios
18                          Ilmakangas, Miss. Ida Livija
19                 Assaf Khalil, Mrs. Mariana (Miriam")"
20                                Rothschild, Mr. Martin
21                             Olsen, Master. Artur Karl
22                  Flegenheim, Mrs. Alfred (Antoinette)
23                       Williams, Mr. Richard Norris II
24       Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25                               Robins, Mr. Alexander A
26                          Ostby, Miss. Helene Ragnhild
27                                     Daher, Mr. Shedid
28                               Brady, Mr. John Bertram
29                                     Samaan, Mr. Elias
                             ...
388                                 Canavan, Mr. Patrick
389                          Palsson, Master. Paul Folke
390                           Payne, Mr. Vivian Ponsonby
391       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392                        Abbott, Master. Eugene Joseph
393                                 Gilbert, Mr. William
394                             Kink-Heilmann, Mr. Anton
395       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396                                 Colbert, Mr. Patrick
397    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398                       Larsson-Rondberg, Mr. Edvard A
399                             Conlon, Mr. Thomas Henry
400                              Bonnell, Miss. Caroline
401                                      Gale, Mr. Harry
402                       Gibson, Miss. Dorothy Winifred
403                               Carrau, Mr. Jose Pedro
404                         Frauenthal, Mr. Isaac Gerald
405         Nourney, Mr. Alfred (Baron von Drachstedt")"
406                            Ware, Mr. William Jeffery
407                           Widener, Mr. George Dunton
408                      Riordan, Miss. Johanna Hannah""
409                            Peacock, Miss. Treasteall
410                               Naughton, Miss. Hannah
411      Minahan, Mrs. William Edward (Lillian E Thorpe)
412                       Henriksson, Miss. Jenny Lovisa
413                                   Spector, Mr. Woolf
414                         Oliva y Ocana, Dona. Fermina
415                         Saether, Mr. Simon Sivertsen
416                                  Ware, Mr. Frederick
417                             Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

#### 정규표현식 사용 -> 호칭 추출 -> 호칭별 건수 출력
#### 1번 문제
#### 출력 예시(train, test)
#### Mr   500
#### Miss 200
#### ...
#### Sir  1

In [194]:
title=[]
for data in train_test_data:
    title.append(data['Name'].str.extract('[,] (.+)[.]'))
train['Title']=title[0]
test['Title']=title[1]
train['Title'].value_counts()
test['Title'].value_counts()

Mr                          517
Miss                        182
Mrs                         124
Master                       40
Dr                            7
Rev                           6
Col                           2
Mlle                          2
Major                         2
Sir                           1
Capt                          1
Jonkheer                      1
Lady                          1
the Countess                  1
Ms                            1
Don                           1
Mrs. Martin (Elizabeth L      1
Mme                           1
Name: Title, dtype: int64

In [257]:
for data in train_test_data:
    data['Title']=data['Name'].str.extract('[,] (.+)[.]')
    print(data['Title'].value_counts())

Mr                          517
Miss                        182
Mrs                         124
Master                       40
Dr                            7
Rev                           6
Col                           2
Mlle                          2
Major                         2
Sir                           1
Capt                          1
Jonkheer                      1
Lady                          1
the Countess                  1
Ms                            1
Don                           1
Mrs. Martin (Elizabeth L      1
Mme                           1
Name: Title, dtype: int64
Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Ms          1
Dona        1
Dr          1
Name: Title, dtype: int64

#### 2번 문제
#### 원핫인코딩을 위해 수치로 변환
#### Mr:0, Miss:1, Mrs:2. 나머지는 모두 3으로 처리
#### 별도의 컬럼을 추가해서 저장
#### 카페에 제출..(오늘)

In [205]:
train['Title_Code']=np.where(train['Title']=='Mr',0,
                             np.where(train['Title']=='Miss',1,
                                         np.where(train['Title']=='Mrs',2,3)))

In [206]:
test['Title_Code']=np.where(test['Title']=='Mr',0,
                            np.where(test['Title']=='Miss',1,
                                         np.where(test['Title']=='Mrs',2,3)))