In [78]:
import tensorflow as tf
import numpy as np

## tensorflow를 활용한 RNN 구축

In [79]:
sample="Mulmi team, cheer-up"
# "Mulmi team, cheer-u" -> "Mulmi team, cheer-up"

In [80]:
idx2char=list(set(sample))
char2idx={c : i for i, c in enumerate(idx2char)}

In [81]:
dic_size=len(char2idx)
hidden_size=num_classes=dic_size
# dic_size:원핫인코딩 크기(rnn input size)
# hidden_size:output size
# num_classes:최종 output size(softmax)
batch_size=1 # 데이터 1개 -> 배치 -> 업데이트
sequence_length=len(sample)-1
learning_rate=0.1

In [82]:
print(hidden_size)
print(num_classes)
print(dic_size)

15
15
15

In [83]:
tf.reset_default_graph()
sample_idx = [char2idx[c] for c in sample]
# sample="Mulmi team, cheer-up"
xdata=[sample_idx[:-1]] # 맨 마지막 숫자가 빠지고 출력
ydata=[sample_idx[1:]] # 처음 숫자가 빠지고 끝까지 출력
x=tf.placeholder(tf.int32,[None,sequence_length])
y=tf.placeholder(tf.int32,[None,sequence_length])
x_one_hot=tf.one_hot(x,num_classes)
cell=tf.contrib.rnn.BasicLSTMCell(num_units=hidden_size)
ini_state=cell.zero_state(batch_size, tf.float32)
outputs, _state=tf.nn.dynamic_rnn(cell, x_one_hot, initial_state=ini_state, dtype=tf.float32)

In [84]:
xfc=tf.reshape(outputs,[-1,hidden_size])
outputs=tf.contrib.layers.fully_connected(xfc,num_classes, activation_fn=None)
outputs=tf.reshape(outputs,[batch_size,sequence_length, num_classes])
weights=tf.ones([batch_size, sequence_length])
sequence_loss=tf.contrib.seq2seq.sequence_loss(logits=outputs, targets=y, weights=weights)
loss=tf.reduce_mean(sequence_loss)
train=tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(loss)
prediction=tf.argmax(outputs,axis=2)

In [85]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for i in range(100):
        cv, _=sess.run([sequence_loss, train],feed_dict={x:xdata, y:ydata})
        res=sess.run(prediction, feed_dict={x:xdata})
        res_str=[idx2char[c] for c in np.squeeze(res)]
        print(i,"loss:",cv,"prediction:","".join(res_str))

0 loss: 2.7089214 prediction: umm          euuuuu
1 loss: 2.5229628 prediction: umm  ueuuuuuuuuuuuu
2 loss: 2.3509436 prediction: mmm  taau  eeeeeeuu
3 loss: 2.0516894 prediction: mmm  teae  eeeee-up
4 loss: 1.6926514 prediction: mmm  team  ceeee-up
5 loss: 1.3118911 prediction: mmmi team  cheee-up
6 loss: 0.9854412 prediction: mmmi team, cheer-up
7 loss: 0.7207087 prediction: ummi team, cheer-up
8 loss: 0.52459997 prediction: ulmi team, cheer-up
9 loss: 0.35374856 prediction: ulmi team, cheer-up
10 loss: 0.24132329 prediction: ulmi team, cheer-up
11 loss: 0.1525188 prediction: ulmi team, cheer-up
12 loss: 0.10293911 prediction: ulmi team, cheer-up
13 loss: 0.071052 prediction: ulmi team, cheer-up
14 loss: 0.050959736 prediction: ulmi team, cheer-up
15 loss: 0.035228293 prediction: ulmi team, cheer-up
16 loss: 0.025361842 prediction: ulmi team, cheer-up
17 loss: 0.01975616 prediction: ulmi team, cheer-up
18 loss: 0.014721804 prediction: ulmi team, cheer-up
19 loss: 0.011365376 prediction: ulmi team, cheer-up
20 loss: 0.009226766 prediction: ulmi team, cheer-up
21 loss: 0.007553605 prediction: ulmi team, cheer-up
22 loss: 0.0061061485 prediction: ulmi team, cheer-up
23 loss: 0.004910083 prediction: ulmi team, cheer-up
24 loss: 0.0040051704 prediction: ulmi team, cheer-up
25 loss: 0.0033593648 prediction: ulmi team, cheer-up
26 loss: 0.0029025148 prediction: ulmi team, cheer-up
27 loss: 0.00256153 prediction: ulmi team, cheer-up
28 loss: 0.0022778593 prediction: ulmi team, cheer-up
29 loss: 0.002020519 prediction: ulmi team, cheer-up
30 loss: 0.0017858259 prediction: ulmi team, cheer-up
31 loss: 0.001580795 prediction: ulmi team, cheer-up
32 loss: 0.0014091068 prediction: ulmi team, cheer-up
33 loss: 0.0012687728 prediction: ulmi team, cheer-up
34 loss: 0.0011547204 prediction: ulmi team, cheer-up
35 loss: 0.0010618031 prediction: ulmi team, cheer-up
36 loss: 0.0009851234 prediction: ulmi team, cheer-up
37 loss: 0.00092087704 prediction: ulmi team, cheer-up
38 loss: 0.0008659486 prediction: ulmi team, cheer-up
39 loss: 0.00081793923 prediction: ulmi team, cheer-up
40 loss: 0.0007752555 prediction: ulmi team, cheer-up
41 loss: 0.0007365465 prediction: ulmi team, cheer-up
42 loss: 0.00070107443 prediction: ulmi team, cheer-up
43 loss: 0.0006683447 prediction: ulmi team, cheer-up
44 loss: 0.0006380883 prediction: ulmi team, cheer-up
45 loss: 0.00061022374 prediction: ulmi team, cheer-up
46 loss: 0.0005845755 prediction: ulmi team, cheer-up
47 loss: 0.00056123163 prediction: ulmi team, cheer-up
48 loss: 0.00054011104 prediction: ulmi team, cheer-up
49 loss: 0.0005211259 prediction: ulmi team, cheer-up
50 loss: 0.0005042831 prediction: ulmi team, cheer-up
51 loss: 0.0004894387 prediction: ulmi team, cheer-up
52 loss: 0.00047650526 prediction: ulmi team, cheer-up
53 loss: 0.0004653076 prediction: ulmi team, cheer-up
54 loss: 0.00045566412 prediction: ulmi team, cheer-up
55 loss: 0.00044722413 prediction: ulmi team, cheer-up
56 loss: 0.0004397686 prediction: ulmi team, cheer-up
57 loss: 0.00043284005 prediction: ulmi team, cheer-up
58 loss: 0.00042619434 prediction: ulmi team, cheer-up
59 loss: 0.00041956195 prediction: ulmi team, cheer-up
60 loss: 0.00041290524 prediction: ulmi team, cheer-up
61 loss: 0.00040616764 prediction: ulmi team, cheer-up
62 loss: 0.00039956826 prediction: ulmi team, cheer-up
63 loss: 0.00039323847 prediction: ulmi team, cheer-up
64 loss: 0.00038735988 prediction: ulmi team, cheer-up
65 loss: 0.00038191347 prediction: ulmi team, cheer-up
66 loss: 0.00037702476 prediction: ulmi team, cheer-up
67 loss: 0.00037261835 prediction: ulmi team, cheer-up
68 loss: 0.00036859408 prediction: ulmi team, cheer-up
69 loss: 0.00036499582 prediction: ulmi team, cheer-up
70 loss: 0.00036157286 prediction: ulmi team, cheer-up
71 loss: 0.0003583378 prediction: ulmi team, cheer-up
72 loss: 0.00035522174 prediction: ulmi team, cheer-up
73 loss: 0.0003521369 prediction: ulmi team, cheer-up
74 loss: 0.00034906453 prediction: ulmi team, cheer-up
75 loss: 0.0003460109 prediction: ulmi team, cheer-up
76 loss: 0.00034303244 prediction: ulmi team, cheer-up
77 loss: 0.00034006019 prediction: ulmi team, cheer-up
78 loss: 0.00033718196 prediction: ulmi team, cheer-up
79 loss: 0.00033438514 prediction: ulmi team, cheer-up
80 loss: 0.00033169493 prediction: ulmi team, cheer-up
81 loss: 0.00032913 prediction: ulmi team, cheer-up
82 loss: 0.00032669678 prediction: ulmi team, cheer-up
83 loss: 0.00032435756 prediction: ulmi team, cheer-up
84 loss: 0.00032209986 prediction: ulmi team, cheer-up
85 loss: 0.00031991123 prediction: ulmi team, cheer-up
86 loss: 0.00031778525 prediction: ulmi team, cheer-up
87 loss: 0.00031567822 prediction: ulmi team, cheer-up
88 loss: 0.00031357125 prediction: ulmi team, cheer-up
89 loss: 0.0003114831 prediction: ulmi team, cheer-up
90 loss: 0.00030940125 prediction: ulmi team, cheer-up
91 loss: 0.00030736337 prediction: ulmi team, cheer-up
92 loss: 0.00030531295 prediction: ulmi team, cheer-up
93 loss: 0.0003033064 prediction: ulmi team, cheer-up
94 loss: 0.00030137514 prediction: ulmi team, cheer-up
95 loss: 0.00029944378 prediction: ulmi team, cheer-up
96 loss: 0.00029754385 prediction: ulmi team, cheer-up
97 loss: 0.00029572536 prediction: ulmi team, cheer-up
98 loss: 0.0002938943 prediction: ulmi team, cheer-up
99 loss: 0.00029212591 prediction: ulmi team, cheer-up

In [61]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

dataset=[["사과","치즈","생수"],
        ["생수","호두","치즈","고등어"],
        ["수박","사과","생수"],
        ["생수","호두","치즈","옥수수"]]

In [63]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
te_ary

array([[False,  True,  True, False, False,  True, False],
       [ True, False,  True, False, False,  True,  True],
       [False,  True,  True,  True, False, False, False],
       [False, False,  True, False,  True,  True,  True]])

In [68]:
df=pd.DataFrame(te_ary, columns=te.columns_)
df
freq_item=apriori(df,min_support=0.5, use_colnames=True)
freq_item

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (생수, 사과)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (호두, 치즈)
8     0.50  (생수, 호두, 치즈)

In [86]:
from mlxtend.frequent_patterns import association_rules
association_rules(freq_item,metric="lift", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
1,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
7,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
8,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
9,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
10,"(호두, 치즈)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
11,(생수),"(호두, 치즈)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
12,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
13,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5