#### 단어 -> 수치화(DTM, Word2Vec 등)  
#### 문서 간 단어들의 차이를 계산? 유클리드, 코사인 유사도 등  
(x='사랑',y='돈')=    
p1=(10,0)  
p2=(1,0)  
p3=(9,5)  
p1과 p2 > p1과 p3  
유클리디안 거리를 구하면 p1과 p3가 값이 더 작아 가깝다고 볼 수 있으나 실질적으로 p1과 p2가  
더 가깝다고 볼 수 있어서 유클리디안 거리만으로는 오류가 발생할 수 있음  
이를 보완하기 위해 각도를 따진게 코사인 유사도이다.

문서1 : 저는 파이썬 좋아요  
문서2 : 저는 자바 좋아요  
문서3 : 저는 자바 좋아요 저는 자바 좋아요  

|구분|저는|파이썬|자바|좋아요|  
|------|---|---|----|----| 
|문서1|1|1|0|1|  
|문서2|1|0|1|1|  
|문서3|2|0|2|2|  

문서1문서2 = (1+0+0+1)/3 = 2/3 = 0.67  
문서1문서3 = (2+0+0+2)/6 = 4/6 = 0.67  
문서2문서3 = (2+0+2+2)/6 = 6/6 = 1  

'토이스토리4' 영화와 가장 유사한 영화 검색  
(줄거리, 코사인유사도 기반)  
DTM 만들기, 단어유의어를 처리해줘야함  
                단어1  단어2 .... 단어n   
영화1(토이스토리4)  
영화2  
...  
영화45000

In [2]:
#문서1  1   1   0   1
#문서2  1   0   1   1
#문서3  2   0   2   2
import numpy as np
from numpy.linalg import norm
def cos_sim(x,y):
    return np.dot(x,y)/(norm(x)*norm(y))
    
doc1 = np.array([1,1,0,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

print(cos_sim(doc1,doc2))
print(cos_sim(doc1,doc3))
print(cos_sim(doc3,doc2))

0.6666666666666667
0.6666666666666667
1.0000000000000002

In [3]:
import pandas as pd
data=pd.read_csv("data/the-movies-dataset/movies_metadata.csv")
data.head()["overview"]
data.tail()

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
data=data.head(20000)

In [5]:
# 코사인 유사도를 DTM으로 구할 수 있지만 TF-IDF로 구할 수도 있음
from sklearn.feature_extraction.text import TfidfVectorizer
# 단순 코사인 유사도 기반 계산(연습)
tfidf=TfidfVectorizer(stop_words='english') # 객체 생성, english를 제외한 TF-IDF를 만들게 됨
tfidf
#data['overview'].isnull().value_counts()
data['overview']=data['overview'].fillna('')
#NaN의 경우는 ''로 (TF-IDF 작업시 NaN이 있으면 에러가 발생)
data['overview'].isnull().value_counts()

False    20000
Name: overview, dtype: int64

In [6]:
tfidf_mat=tfidf.fit_transform(data['overview']) #tfidf 생성
tfidf_mat.shape

(20000, 47487)

In [8]:
from sklearn.metrics.pairwise import linear_kernel #코사인 유사도 함수
cos_sim=linear_kernel(tfidf_mat,tfidf_mat)

In [14]:
tfidf_mat

<20000x47487 sparse matrix of type '<class 'numpy.float64'>'
	with 535909 stored elements in Compressed Sparse Row format>

In [15]:
tfidf_mat.toarray() # array로 확인하기 위해 변환, 각 행은 영화 1개에 대한 값 출력

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
cos_sim

array([[1.        , 0.01575748, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01575748, 1.        , 0.04907345, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.04907345, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.08375766],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.08375766, 0.        ,
        1.        ]])

In [18]:
data.shape

(20000, 24)

In [26]:
idx=pd.Series(data.index, index=data['title']).drop_duplicates() # 중복된 영화 제거
idx.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [47]:
print(idx['Rambo'])
print(cos_sim[12356]) #rambo 영화에 대한 코사인 유사도 
# 0값은 분자에 0이 있다는 의미로 둘 중에 0이 있다는 것으로 유사한 영화로 보기 어려움
# 0이 아닌 값은 유사도가 있다는 의미
print(type(cos_sim[12356]))

12356
[0.02696439 0.         0.02085587 ... 0.         0.         0.        ]
<class 'numpy.ndarray'>

In [80]:
# 코사인 유사도를 활용해 유사한 영화 10편 출력
def get_recommendations(title,cos_sim=cos_sim): #cos_sim 변수에 들어가는 값은 cos_sim 함수를 쓰겠다는 의미
    idx_title=idx[title] #12356=idx['Rambo']
    sim_score=list(enumerate(cos_sim[idx_title])) # 열거형으로 변환
    sim_score=sorted(sim_score, key=lambda x:x[1], reverse=True) 
    #튜플에서 유사도 값을 가지고 내림차순 정렬하기 위해 튜플 인덱스 1을 가지고 정렬하겠다는 의미
    mi=sim_score[1:11]
    res=[i[0] for i in mi]
    print(data['title'].iloc[res])

In [81]:
get_recommendations('Rambo') # 람보와 다른 영화 사이의 코사인 유사도 
# 이미지 비교할 때도 코사인 유사도 사용 가능

2290                         First Blood
2291                           Rambo III
2289          Rambo: First Blood Part II
2693                   Universal Soldier
3832                          Billy Jack
9632     Strawberries in the Supermarket
1165                      Apocalypse Now
12252              Journey from the Fall
16638                     Little Soldier
10030                         The Search
Name: title, dtype: object