In [1]:
#decision tree
import pandas as pd
import numpy as np

In [30]:
train=pd.read_csv("data/titanic/train.csv")
test=pd.read_csv("data/titanic/test.csv")

In [31]:
train.describe()
train.isnull().sum()
print(train['Age'].mean())

29.69911764705882

In [32]:
train['Age_mean']=train['Age']
train['Age_mean'].fillna(train['Age_mean'].mean(),inplace=True)
test['Age_mean']=test['Age']
test['Age_mean'].fillna(test['Age_mean'].mean(),inplace=True)

In [33]:
train['Age_mean'].isnull().sum()

0

In [34]:
train['Age_mean'].mean() #29.69
#print(train['Age'].mean())

29.699117647058763

In [35]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [36]:
train['Gender']=(train['Sex']=='female')
test['Gender']=(test['Sex']=='female')

In [37]:
train['Embarked'].value_counts()
train['Embarked'].isnull().sum() #2

2

In [38]:
print(test['Embarked'].isnull().sum())

0

In [40]:
train['Embarked_S']=train['Embarked']=='S'
train['Embarked_C']=train['Embarked']=='C'
train['Embarked_Q']=train['Embarked']=='Q'
#S:100, C:010, Q:001

In [42]:
train['Embarked'].value_counts()
train['Embarked_S'].sum()

644

In [43]:
train[['Embarked_S','Embarked_C','Embarked_Q']]

     Embarked_S  Embarked_C  Embarked_Q
0          True       False       False
1         False        True       False
2          True       False       False
3          True       False       False
4          True       False       False
5         False       False        True
6          True       False       False
7          True       False       False
8          True       False       False
9         False        True       False
10         True       False       False
11         True       False       False
12         True       False       False
13         True       False       False
14         True       False       False
15         True       False       False
16        False       False        True
17         True       False       False
18         True       False       False
19        False        True       False
20         True       False       False
21         True       False       False
22        False       False        True
23         True       False       False
24         True       False       False
25         True       False       False
26        False        True       False
27         True       False       False
28        False       False        True
29         True       False       False
..          ...         ...         ...
861        True       False       False
862        True       False       False
863        True       False       False
864        True       False       False
865        True       False       False
866       False        True       False
867        True       False       False
868        True       False       False
869        True       False       False
870        True       False       False
871        True       False       False
872        True       False       False
873        True       False       False
874       False        True       False
875       False        True       False
876        True       False       False
877        True       False       False
878        True       False       False
879       False        True       False
880        True       False       False
881        True       False       False
882        True       False       False
883        True       False       False
884        True       False       False
885       False       False        True
886        True       False       False
887        True       False       False
888        True       False       False
889       False        True       False
890       False       False        True

[891 rows x 3 columns]

In [44]:
test['Embarked_S']=test['Embarked']=='S'
test['Embarked_C']=test['Embarked']=='C'
test['Embarked_Q']=test['Embarked']=='Q'

In [50]:
train['FamilySize']=train['SibSp']+train['Parch']+1
train['FamilySize'].value_counts()
train['Family']=train['FamilySize']
#대가족(5이상):L, 소가족(1):S, 중가족(2~4):M

train.loc[train['FamilySize']==1,'Family']='S'
train.loc[(train['FamilySize']>1) & (train['FamilySize']<5),'Family']='M'
train.loc[train['FamilySize']>4,'Family']='L'
train[['Family', 'FamilySize']]

    Family  FamilySize
0        M           2
1        M           2
2        S           1
3        M           2
4        S           1
5        S           1
6        S           1
7        L           5
8        M           3
9        M           2
10       M           3
11       S           1
12       S           1
13       L           7
14       S           1
15       S           1
16       L           6
17       S           1
18       M           2
19       S           1
20       S           1
21       S           1
22       S           1
23       S           1
24       L           5
25       L           7
26       S           1
27       L           6
28       S           1
29       S           1
..     ...         ...
861      M           2
862      S           1
863      L          11
864      S           1
865      S           1
866      M           2
867      S           1
868      S           1
869      M           3
870      S           1
871      M           3
872      S           1
873      S           1
874      M           2
875      S           1
876      S           1
877      S           1
878      S           1
879      M           2
880      M           2
881      S           1
882      S           1
883      S           1
884      S           1
885      L           6
886      S           1
887      S           1
888      M           4
889      S           1
890      S           1

[891 rows x 2 columns]

In [51]:
train['Family_S']=train['Family']=='S'
train['Family_M']=train['Family']=='M'
train['Family_L']=train['Family']=='L'

In [52]:
train[['Family_S', 'Family_M','Family_L','Family',
       'FamilySize']]

     Family_S  Family_M  Family_L Family  FamilySize
0       False      True     False      M           2
1       False      True     False      M           2
2        True     False     False      S           1
3       False      True     False      M           2
4        True     False     False      S           1
5        True     False     False      S           1
6        True     False     False      S           1
7       False     False      True      L           5
8       False      True     False      M           3
9       False      True     False      M           2
10      False      True     False      M           3
11       True     False     False      S           1
12       True     False     False      S           1
13      False     False      True      L           7
14       True     False     False      S           1
15       True     False     False      S           1
16      False     False      True      L           6
17       True     False     False      S           1
18      False      True     False      M           2
19       True     False     False      S           1
20       True     False     False      S           1
21       True     False     False      S           1
22       True     False     False      S           1
23       True     False     False      S           1
24      False     False      True      L           5
25      False     False      True      L           7
26       True     False     False      S           1
27      False     False      True      L           6
28       True     False     False      S           1
29       True     False     False      S           1
..        ...       ...       ...    ...         ...
861     False      True     False      M           2
862      True     False     False      S           1
863     False     False      True      L          11
864      True     False     False      S           1
865      True     False     False      S           1
866     False      True     False      M           2
867      True     False     False      S           1
868      True     False     False      S           1
869     False      True     False      M           3
870      True     False     False      S           1
871     False      True     False      M           3
872      True     False     False      S           1
873      True     False     False      S           1
874     False      True     False      M           2
875      True     False     False      S           1
876      True     False     False      S           1
877      True     False     False      S           1
878      True     False     False      S           1
879     False      True     False      M           2
880     False      True     False      M           2
881      True     False     False      S           1
882      True     False     False      S           1
883      True     False     False      S           1
884      True     False     False      S           1
885     False     False      True      L           6
886      True     False     False      S           1
887      True     False     False      S           1
888     False      True     False      M           4
889      True     False     False      S           1
890      True     False     False      S           1

[891 rows x 5 columns]